/* ****************************Tag CSS******************************** */

button{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 11px;
    margin-top: 2%;
    font-size: max(1.3vh,0.8vw);
    width: 120px;
    height: 40px;
    font-family: 'Spartan', sans-serif;
    color: white;
}

button:focus{
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
}

button:hover{
    background-color: white;
    color: black;
}



body{
    background-image: url("/home/sankalp/Work-Sankalp/Web Development/WeatherApp/images/wall1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    color: white;
    font-family: 'Spartan', sans-serif;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.835);
    color: white;
    font-size: max(2vh,1.5vw);
    font-family: 'Spartan', sans-serif; 
    font-weight: 200;
    margin-left: 2%;
    outline: none;
    width: 40vw;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-weight: 200;
    font-size: max(1.5vh,1vw);;
}

::placeholder{
    color: white;
}

/* ****************************Class CSS******************************** */

.container-content{
    margin: 15% 0 0 8%;
}

/* ****************************ID CSS******************************** */

#marker{
    font-size: max(2vh,2vw);;
    opacity: 30%;
}

#marker:hover{
    opacity: 100%;
}

/* **************************** Media Queries ******************************** */

@media (max-width: 1200px){
    .container-content{
        margin-top: 55%;
    }
}

@media (max-width: 992px){
    .container-content{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90%;
    }

    input{
        width: 80%;
    }

    button{
        margin-top: 5%;
        padding: 8px;
    }
}


