/* ***********************General and whole body CSS***********************  */
html{
    height: -webkit-fill-available;
}


body{
    background-image: url("../images/wall2-rain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: white;
    font-family: 'Lato', sans-serif;
    -webkit-transition: background 2s ease-in-out;
    -moz-transition: background 2s ease-in-out;
    -ms-transition: background 2s ease-in-out;
    -o-transition: background 2s ease-in-out;
    transition: background 2s ease-in-out;
}

.main{
    margin: 0;
}

.load-images{
    display: none   ;
}

/* ***********************PreLoader*****************************  */

.preloader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    overflow: hidden;
    z-index: 999999;
    text-align: center;
}

.loader-h3{
    position: relative;
    top: 43%;
    font-size: max(2.8vh, 2vw);
    font-weight: 300;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    top: 42%;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

/* ***********************Left Panel CSS***********************  */

#title{
    font-size: max(1.5vw,2.5vh);
}

.info{
    margin-top: 0px;
}

.info h3{
    font-size: max(2.7vh,1.8vw);
}

.info h4{
    font-size: max(2.2vh, 1.3vw);
}

.left{
    padding-left: 7%;
    padding-top: 5%;
    padding-right: 0;
}

.details{
    position: absolute;
    bottom: 15%;
    width: 80%;
}

.temp-value{
    font-size: max(6vw,6.5vh);
}

.bar{
    font-size: max(1vh,2.2vw);
    margin: 0 7px;
    color: grey;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.unit{
    font-size: max(1.7vh, 1.7vw);
    color: grey;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.unit:hover{
    color: white;
}

.unit-active{
    color: white;
}

/* ***********************Right Panel CSS***********************  */

/* Element CSS  */

.add-info{
    margin-top: 10%;
    width: 80%;
}

.right h3{
    font-size: max(2vh,1.5vw);
}

hr{
    background: white;
}

.right{
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 5%;
    padding-top: 5%;
}

.forecast{
    margin-top: 10%;
    width: 80%;
}

.location{
    background-color: transparent;
    border: none;
    color: white;
    width: 74%;
    font-size: max(2vh,1.5vw);
}

.location:focus{
    outline: none;
}

.search{
    background-color: transparent;
    border: none;
    color: white;
    font-size: max(2vh,1.5vw);
}

.search:hover{
    color: rgba(255, 255, 255, 0.418);
}

.search:focus{
    outline: none;
}

/* Input-Spinner  */

.input-container{
    position: relative;
}

.input-loader-wrapper{
    position: absolute;
    right: 32%;
    top: calc(50% - 10px);
}

.hide-loader{
    display: none;
}

.loader {
    position: relative;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top: 3px solid white;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Info Table  */

table{
    width: 100%;
}

td{
    width: 50%;
    font-size: max(1.7vh, 1.2vw);
    padding: 5px;
}

.left-col{
    color: grey;
}

.right-col{
    text-align: right;
}


/* Media Queries  */

@media (max-width:1199px){

    .panel{
        text-align: center;
    }

    /* Left Panel  */
    
    .bar{
        margin: 0 3px;
    }

    .left{
        padding-left: 0;
    }

    .details{
        position: inherit;
        margin: 30% auto 10%;
        text-align: center;
    }

    .info{
        margin-top: 5%;
    }

    /* Right Panel  */

    .right{
        padding: 0;
        padding-top: 10%;
    }

    .add-info{
        padding: 0;
        margin: 10% auto;
    }

    .forecast{
        margin: 10% auto;
    }

    .left-col{
        text-align: left;
    }

    .input-loader-wrapper{
        right: 20%;
    }

}