/* ***********************General and whole body CSS***********************  */

body{
    background-image: url("/home/sankalp/Work-Sankalp/Web Development/WeatherApp/images/wall2-rain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
}

.main{
    margin: 0;
}

/* ***********************Left Panel CSS***********************  */

.info h3{
    font-size: 2rem;
}

.info h4{
    font-size: 1.5rem;
}

.left{
    padding-left: 7%;
    padding-top: 5%;
    padding-right: 0;
}

.details{
    position: absolute;
    bottom: 15%;
    width: 80%;
}

.temp h1{
    font-size: 6rem;
}

/* ***********************Right Panel CSS***********************  */

.add-info{
    margin-top: 10%;
    width: 80%;
}

hr{
    background: white;
}

.right{
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 5%;
    padding-top: 5%;
}

.forecast{
    margin-top: 10%;
    width: 80%;
}

.location{
    background-color: transparent;
    border: none;
    color: white;
    width: 75%;
    font-size: 1.5rem;
}

.location:focus{
    outline: none;
}

.search{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    /* margin-left: 10px; */
}

.search:hover{
    color: rgba(255, 255, 255, 0.418);
}

.search:focus{
    outline: none;
}

/* Info Table  */

table{
    width: 100%;
}

td{
    width: 50%;
    font-size: 1.2rem;
    padding: 5px;
}

.left-col{
    color: grey;
}

.right-col{
    text-align: right;
}